<html>
  <head>
    <meta charset="utf-8" />
    <title>Display a basemap layer</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    
    <!-- Leaflet Marker Cluster styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    
    <!-- Load D3 Library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@4.1.0/dist/esri-leaflet-vector.js" crossorigin=""></script>
    
    <!-- Leaflet Marker Cluster script -->
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

    <style>
      html,
      body,
      #map {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #323232;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      const apiKey = "{{API_KEY}}";

      const map = L.map("map", {
        maxZoom: 18 
      }).setView([0, 0], 2);
      
    //   Clustering
      L.esri.Vector.vectorBasemapLayer("ArcGIS:Community", {
        apikey: apiKey
      }).addTo(map);
    </script>
    <!-- <script src="/Shelonta/app.js"></script> -->
    <script src="/static/js/clusterMap.js"></script>
  </body>
</html>
